In [188]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
# Enable inline plotting
%matplotlib inline

# Creating a DataFrame

In [ ]:
# The initial set of baby names and birth rates
names = ['Bob','Jessica','Mary','John','Alice']
births = [968, 455, 977, 578, None]
s = ['Male', 'Female', 'Female', 'Male', 'Female'] # Interpreted based on Historical Data https://www.gpeters.com/names/baby-names.php?name=Bob
df = pd.DataFrame({'Names': names, 'Births': births, 'Sex': s})
df

In [ ]:
# Describe the dataset
df.describe()

In [ ]:
# Check if any values are None
df.isnull().values.any()
df.fillna(0)

In [ ]:
# Drop Nan Values
# TODO
df = df.dropna(subset=['Births'])
df

In [ ]:
# Sort by Descending Birth rate
df = df.sort_values(['Births'], ignore_index=True, ascending=False)
df

In [ ]:
# Get the top row using head
df.head(1)

In [ ]:
# Get the last row using tail
# TODO
df.tail(2)

In [ ]:
# Plot the data into a Line Plot Over Time
fig, ax = plt.subplots(figsize=(15,6))
ax = sns.barplot(data=df, x = 'Names', y = 'Births', ax=ax)
ax.set_title('Births Per Baby Name')

# Selecting Data

In [ ]:
# Select all values in a colum
# TODO
df['Births']

In [ ]:
# Select only the two columns, Births and Names
df.loc[:, ['Names', 'Births']]

In [ ]:
# Select the row at index 1 using iloc
# TODO
df.iloc[1]['Names']

In [ ]:
# Select only rows 1 and 3 using iloc
# TODO
df.iloc[[1,3]]

In [ ]:
# Select a subset of rows more 2+ using iloc
# TODO
df.iloc[1:]

In [ ]:
# Select all rows that start with J
df[df['Names'].str.startswith('J')]

In [ ]:
# Only look return df with more than 500 births
# TODO
df[df['Births'] >= 500]

Manipulating Data

In [ ]:
# Show sum, mean or count of undergrads
# TODO
df['Births'].sum()

In [ ]:
# Return 2 * Undergrads
# TODO
df['Births'] * 2

In [ ]:
# Compute the Fraction of all undergrads for each uni
# TODO
df['frac_births'] = df['Births'] / df['Births'].sum()
df

Aggregating Data

In [ ]:
# Show example of Group By
indeces = df.groupby('Sex').groups['Female']
df.iloc[indeces]

In [ ]:
# Group the dataset by Sex and compute the total Births
# TODO 
group_sum = df.groupby('Sex').agg({'Births': 'sum'})
group_sum.columns = ['sum']
group_sum = group_sum.reset_index()
group_sum

Merging DataFrames

In [ ]:
# The initial set of baby names and birth rates
songs_spotify = ['Calling My Phone', 'drivers license', 'Save Your Tears', 'Astronaut In The Ocean', 'Up' ]
artist = ['Lil Tjay, 6LACK', 'Olivia Rodrigo', 'The Weeknd', 'Masked Wolf', 'Cardi B' ]
daily_plays = [195563, 180642, 144995, 126583, 120685]
left = pd.DataFrame(data = {'song':songs_spotify,'artist': artist,  'daily_plays': daily_plays})
left

In [ ]:
# The initial set of baby names and birth rates
song_billboard = ['drivers license', 'Save Your Tears','Calling My Phone', 'Levitating', 'Mood' ]
artist = ['Olivia Rodrigo', 'The Weeknd', 'Lil Tjay, 6LACK','Dua Lipa', '24kgolden , Iann Dior' ]
weeks_on_chart = [7, 18, 2, 21, 29]
right = pd.DataFrame({'song':song_billboard,'artist':artist,  'weeks_on_billboard':weeks_on_chart})
right

In [ ]:
# Get Songs found in both, the Billboard + Spotify Charts using pd.merge()
# TODO
pd.merge(left, right, how='inner', on=['song', 'artist'])

In [ ]:
# Get Songs only on Spotify and their weeks on Billboard
# TODO
pd.merge(left, right, how='left', on=['song', 'artist'])